<div class="container" id="chat-msg">
    <h2>CENTRO DE MENSAJES</h2>
    <form id="formulario-chat">
        <span>Correo </span><input type="text" name="correo" id="correo" placeholder="123@gmail.com" required>
        <div id="chat">

        </div>
        <input type="text" name="mensaje" id="mensaje" placeholder="Nuevo mensaje..." required>
        <button>Enviar</button>
    </form> 
</div>