
<div class="container" id="formulario">
    <h2>REGISTRO DE PRODUCTOS</h2>
    <form id="registro_producto">
        <div id="input-title">
            <span>Titulo </span><input type="text" name="title" id="title" required>
        </div>
        <div id="input-price">
            <span>Precio </span><input type="text" name="price" id="price" required>
        </div>
        <div id="input-thumbnail">
            <span>Imagen (URL) </span><input type="text" name="thumbnail" id="thumbnail" required>
        </div>
        <button>Registrar producto</button>
    </form>
</div>
