
<div class="container" id="tabla">
    <table>
        <caption>
            <h2>PRODUCTOS REGISTRADOS</h2>
        </caption>

        <thead>
            <tr>
                <th>N°</th>
                <th>Título</th>
                <th>Precio</th>
                <th>Imágen</th>
            </tr>
        </thead>
        
        <tbody id="lista-productos">

        </tbody>
        
    </table>

</div>